*{
  margin:0;
  padding: 0;
}
#nav-container{
     background-image: url(../img/logo_thinslices2.png);
    background-size: contain;
     background-repeat: no-repeat;
    height:10vh;
    margin-left:20px;
   
}
#main-nav {
    display: flex;
     justify-content: flex-end;
    
    
   
}
ul {
    display: flex;
   
    
}
li{
      padding-right:20px;
    list-style-type: none;
       margin-top:25px;
     
}
li a{
    text-decoration: none;
    text-transform: uppercase;
  color:black;
 
}
li a:hover{
    color:grey;
}


#header{
    background-image: url(../img/slider3.png);
    height: 100vh;
    width: 100%;
     background-size: cover;
   background-repeat: no-repeat;
    position: absolute;
  
}
